<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <rosparam command="load" file="$(find simple_robot_gazebo)/config/motors_parameters.yaml" />
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find two_wheeled_description)/urdf/2wheeled.xacro'" />

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model 2wheeled -x $(arg x) -y $(arg y) -z $(arg z)" />

    <include file="$(find two_wheeled_control)/launch/2wheeled_control.launch">

	</include>

</launch>